.App {
  text-align: center;
}
/*
paleta
abismo:
#031634
aqua
#036564
Terra
#E8DDCB
#CDB380
*/
.App{
  background-color: #031634;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #E8DDCB;
}

