.card{
    padding: 20px;
    border: solid 2px whitesmoke;
    width: 70%;
    margin: 15px;

}

.button{
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.3em;
    background: #282c34;
    color: cornsilk ;
    cursor: pointer;
}